beautifulsoup4==4.12.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
google-api-core==2.12.0
google-auth==2.23.2
google-cloud-texttospeech==2.14.1
google-search==1.1.1
googleapis-common-protos==1.60.0
googlesearch-python==1.2.3
grpcio==1.59.0
grpcio-status==1.59.0
gTTS==2.3.2
idna==3.4
lxml==4.9.3
proto-plus==1.22.3
protobuf==4.24.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pygame==2.5.2
requests==2.31.0
rsa==4.9
soupsieve==2.5
SpeechRecognition==3.10.0
urllib3==2.0.5